[submodule "SeriousProton"]
	path = SeriousProton
	url = https://github.com/gcask/SeriousProton
	branch = sdl-edge
[submodule "meshoptimizer"]
	path = meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "texconverter/astc-encoder"]
	path = texconverter/astc-encoder
	url = https://github.com/ARM-software/astc-encoder
